@font-face {
  font-family: "HeartBreakingBad";
  src: url("../font/Heart Breaking Bad.woff2") format("woff2"),
    url("../font/Heart Breaking Bad.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.bad-font {
  font-family: "HeartBreakingBad", sans-serif;
  font-size: 50px;
  color: green;
  text-align: center;
  margin-top: 20%;
}
